.manage-categories-container {
  animation: moveIn 0.5s forwards;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  .title-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .title {
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 600;
    }
    .total {
      display: flex;
      column-gap: 12px;
      align-items: center;
    }
  }
  .table-row-wrapper {
    width: 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    max-height: 100vh;
    overflow: scroll;
    padding: 24px 8px;
    &::-webkit-scrollbar {
      display: none;
    }
    .loading {
      width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 12px;
      justify-content: center;
      align-items: center;
      height: 500px;
      span {
        height: 24px;
        width: 24px;
      }
    }
  }
  .top-action {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 42px;
    margin-bottom: 32px;
    .search-container {
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      column-gap: 12px;
      padding: 8px 14px;
      background-color: white;
      border-radius: 18px;
      display: flex;
      align-items: center;
      .search {
        outline-style: none;
        border: none;
        background-color: transparent;
      }
    }
    .btns {
      display: flex;
      column-gap: 12px;
      .add-customer {
        background-color: #34c38f;
        padding: 8px 14px;
        color: white;
        border-radius: 18px;
        display: flex;
        align-items: center;
        column-gap: 8px;
        cursor: pointer;
        &.admin {
          background-color: #fa6cd9;
        }
      }
    }
  }
  .category {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-height: 64px;
    overflow: hidden;
    transition: all 0.3s;
    cursor: pointer;
    &.active {
      max-height: 600px;
    }
    .cat-info {
      transition: all 0.3s;
      &:hover {
        background-color: #e763c8;
        color: white;
      }
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px 24px 12px 24px;
      background-color: #ffffff;
      .name {
        width: 90%;
        column-gap: 18px;
        .cat-name {
          width: 10%;
        }
        .id {
          width: 90%;
        }
      }
      .ic {
        font-size: 24px;
      }
      .ic-del {
        font-size: 24px;
        color: red;
      }
    }
    .table-row {
      border-bottom: 1px solid #f1f4f8;
      background-color: white;
      padding: 12px 16px;
      display: flex;
      width: 100%;
      align-items: center;
      transition: all 0.2s;
      cursor: pointer;
      &:hover {
        transform: translateY(-2px) scale(1, 1);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      }
      &.table-head {
        margin-top: 22px;
        font-size: 16px;
        font-weight: 600;
        background-color: #e763c8;
        color: white;
        border-bottom: none;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        padding-top: 32px;
        padding-bottom: 32px;
        &:hover {
          transform: scale(1, 1);
          box-shadow: none;
        }
      }
      .stt {
        width: 5%;
      }
      .name {
        width: 25%;
        overflow-x: scroll;
        &::-webkit-scrollbar {
          display: none;
        }
      }
      .desc {
        width: 40%;
        overflow-x: scroll;
        &::-webkit-scrollbar {
          display: none;
        }
      }
      .origin {
        display: flex;
        width: 10%;
        flex-wrap: wrap;
        justify-content: center;
      }
      .price {
        display: flex;
        width: 10%;
        flex-wrap: wrap;
        justify-content: center;
      }
      .avatar {
        width: 20%;
        max-width: 36px;
      }
      .actions {
        flex: 1;
        display: flex;
        justify-content: center;
        .lock {
          border-radius: 4px;
          font-weight: 600;
          display: flex;
          align-items: center;
          column-gap: 4px;
          padding: 4px 8px;
          height: 32px;
          color: rgb(250, 80, 80);
          .ic {
            color: rgb(250, 80, 80);
            width: 24px;
            height: 24px;
          }
        }
        .unlock {
          .ic {
            width: 24px;
            height: 24px;
            color: rgb(84, 228, 105);
          }
          color: rgb(84, 228, 105);
          height: 32px;
          border-radius: 4px;
          font-weight: 600;
          display: flex;
          align-items: center;
          column-gap: 4px;
          padding: 4px 8px;
        }
      }
    }
  }
}
.pagination {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 12px 0px;
  padding: 12px;
  column-gap: 12px !important;
  .num {
    transition: all 0.3s;
    cursor: pointer;
    padding: 4px 12px;
    border-radius: 8px;
    &.active {
      background-color: #34c38f;
      color: white;
      &:hover {
        background-color: #34c38f;
      }
    }
    &:hover {
      background-color: #8de8c6;
    }
  }
  .btn-change {
    border-radius: 8px;
    padding: 4px 12px;
    background-color: white;
    color: black;
    margin: 0px 8px;
    font-weight: 600;
    cursor: pointer;
  }
}
@keyframes moveIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
